*{
    margin: 0;
    padding: 0;
}
#logo{
    text-align: center;
    margin-bottom: -0.01%;
    background-color: #62735a;
    cursor: pointer;
}
@media (max-width: 600px){
    #logo img {
        width: 30%;
        height: auto;
    }
}
.nav-link:hover{
    color: #c28465;
}
ul a{
    color: #fff;
}
#produtoCarrinho{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    flex-wrap: wrap;
}
#produtoCarrinho img{
    width: 100%;
    height: 50vh !important;
}