*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
}
#logo{
    text-align: center;
    margin-bottom: -0.01%;
    background-color: #62735a;
    cursor: pointer;
}
@media (max-width: 600px){
    #logo img {
        width: 30%;
        height: auto;
    }
}
.nav-link:hover{
    color: #c28465;
}
ul a{
    color: #fff;
}
@media (max-width: 600px){
    .carosel{
        height: 80%;
        width: auto;
    }
}
.d-block{
    min-width: 80%;
    min-height: 10%;
}
.carousel-control-prev, .carousel-control-next{
    transform: translateX(-65%);
}
.container h2{
    text-align: center;
    padding-top: 7%;
    padding-bottom: 1%;
}
.card{
    border: none;
    margin-bottom: 8%;
}
.card img{
    min-width: 100%;
    height: 40vh;
}
.card-body{
    background-color: #62735a;
    color: #fff;
    border-radius: 0.3rem;
}
.btn-custom {
    background-color: #c28465;
    border: none;
    color: #fff;
}

.btn-custom:hover,
.btn-custom:focus {
    background-color: #edcdbc;
    color: black;
}

.btn-custom:active,
.btn-custom.active,
.btn-custom[aria-pressed="true"] {
    background-color: #62735a !important;
    color: white;
    border: none;
    box-shadow: none;
    outline: none;
}